<section class="pop-btn yellow" style="margin-bottom:0px;">
    <section class="col-xs-1 back-arrow"><span class=""><a href="#"><img src="images/arrow.png" width="10" height="17" alt="Back Arrow"></a></span></section>
    <section class="col-xs-9 title-text">Upcoming Events</section>
    <section class="col-xs-1 sprite pot-moreover"></section>
</section>
<section class="container">

    <section class="row">
        <section class="col-xs-12 pop-tab p0">
            <ul>
                <li class="active"><a href="#">Upcoming</a></li>
                <li><a href="past-events.html">Past</a></li>
            </ul>
        </section>
    </section>




    <section class="row pot-details" ng-repeat="eventItem in eventList">
        <section class="col-xs-12 p0">
            <article class="col-xs-9">
                <h3 class="mt0">{{ eventItem.EventName }}</h3>
                <p class="pot-time col-gry"> {{ eventItem.EventDate | date: 'dd MMM, yyyy'}} | {{ (eventItem.EventStartTime) || "--" }} - {{ (eventItem.EventEndTime) || "--"}}</p>

                <!--This can be moved to a include template-->
                <p class="pot-msg col-blu" ng-show="eventItem.EventActionStatus === 'host'">Host</p>
                <p class="pot-msg col-grn" ng-show="eventItem.EventActionStatus === 'accepted'">You've accepted the invitation</p>
                <p class="pot-msg col-red" ng-show="eventItem.EventActionStatus === 'rejected'">You've rejected the invitation</p>
                <!--/This can be moved to a include template-->
            </article>
            <article class="col-xs-3 pot-name col-gry">
                {{eventItem.EventCreatedByName}}
            </article>
        </section>

        <section class="col-xs-12 p0 pop-confirm" ng-show="eventItem.EventActionStatus === null">
            <ul>
                <li><input type="button" value="Yes" class="tertiary-btn"></li>
                <li><input type="button" value="No" class="tertiary-btn"></li>
                <li><input type="button" value="May Be" class="tertiary-btn"></li>
            </ul>
        </section>
    </section>


    <!--
    <section class="row pot-details">
        <section class="col-xs-12 p0">
            <article class="col-xs-9">
                <h3 class="mt0">Summer Special Spicy</h3>
                <p class="pot-time col-gry">24th Feb, 2015 | 12.30 pm - 3:00 pm</p>
            </article>
            <article class="col-xs-3 pot-name col-gry">
                Ram
            </article>
        </section>

        <section class="col-xs-12 p0 pop-confirm">
            <ul>
                <li><input type="button" value="Yes" class="tertiary-btn"></li>
                <li><input type="button" value="No" class="tertiary-btn"></li>
                <li><input type="button" value="May Be" class="tertiary-btn"></li>
            </ul>
        </section>
    </section>

    <section class="row pot-details">
        <article class="col-xs-9">
            <h3 class="mt0">Newyear Potluck</h3>
            <p class="pot-time col-gry">24th Feb, 2015 | 12.30 pm - 3:00 pm</p>
            <p class="pot-msg col-blu">Host</p>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            Sajindas
        </article>
    </section>

    <section class="row pot-details">
        <article class="col-xs-9">
            <h3 class="mt0">Veggie Food Mania</h3>
            <p class="pot-time col-gry">24th Feb, 2015 | 12.30 pm - 3:00 pm</p>
            <p class="pot-msg col-red">You've rejected the invitation</p>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            Louis
        </article>
    </section>

    <section class="row pot-details">
        <article class="col-xs-9">
            <h3 class="mt0">Newyear Potluck</h3>
            <p class="pot-time col-gry">24th Feb, 2015 | 12.30 pm - 3:00 pm</p>
            <p class="pot-msg col-grn">You've accepted the invitation</p>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            Arun Gadela
        </article>
    </section>

    <section class="row pot-details">
        <article class="col-xs-9">
            <h3 class="mt0">Veggie Food Mania</h3>
            <p class="pot-time col-gry">24th Feb, 2015</p>
            <p class="pot-msg col-red">You've rejected the invitation</p>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            Louis
        </article>
    </section>

    <section class="row pot-details">
        <article class="col-xs-9">
            <h3 class="mt0">Newyear Potluck</h3>
            <p class="pot-time col-gry">24th Feb, 2015 | 12.30 pm - 3:00 pm</p>
            <p class="pot-msg col-grn">You've accepted the invitation</p>
        </article>
        <article class="col-xs-3 pot-name col-gry">
            Arun Gadela
        </article>
    </section>

-->

    <section class="row">
        <button type="submit" ng-click="createEvent()" class="btn pop-btn orange primary-btn">Create New Event</button>
    </section>
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="js/bootstrap.min.js"></script> -->

<script type="text/javascript">
    function customCheckbox(checkboxName) {
        var checkBox = $('input[name="' + checkboxName + '"]');
        $(checkBox).each(function () {
            $(this).wrap("<span class='custom-checkbox'></span>");
            if ($(this).is(':checked')) {
                $(this).parent().addClass("selected");
            }
        });
        $(checkBox).click(function () {
            $(this).parent().toggleClass("selected");
        });
    }
    $(document).ready(function () {
        customCheckbox("terms[]");
    })
</script>